<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>Hello! My name is Arhchuthan Baskarasingham.</p>
      <p>I am currently studying Computer Programming, more specifically I am enrolled in the Computer Programming &
        Analysis program (CPA) at Seneca College (Newnham Campus).</p>
      <p>I am debating on whether I should continue my studies here at Seneca by transferring into the BSD program
        (Honours Bachelor of Technology – Software Development), or to further my education by enrolling into University
        for Computer Science.</p>
      <p>I am interested in video games and PC building. I play first-person shooter games mainly, PAYDAY: The Heist
        with my friend though, I have been recently getting into rhythm games such as Stepmania and Dance Dance
        Revolution. I have also revisited some classic games I played back in the 2000s such as, the Super Mario games
        on Nintendo Gamecube, the Ratchet & Clank series on the Playstation 2, and some of the Resident Evil games (4,5,
        and 6). I wasn't able to play some of these games as the disc would be scratched over time. Fortunately, ever
        since I learned about PC parts, I learned how to build my own computer to have the necessary specs to use an
        emulator and emulate these games again. I have also built this computer with programming in mind, allowing me to
        cover both video games and programming.</p>
      <p>My goal for life is not to necessarily become the #1 programmer in the world or to obtain the most amount of
        money however, I want to use my ability in programming to create things I enjoy. One of my goals is to create
        video games of my own, perhaps create a small indie developement team in the future. I have also wanted to get
        into programming and creating various things with a Raspberry Pi. In terms of what job I want to work I am not
        too sure however, I do know that my 2 most favorite programming languages so far is C++ and SQL though the #1
        spot may change to JavaScript if I find myself enjoying WEB322 and WEB422. I look forward to learning how to
        create web applications this semester!</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>This section is currently under construction. Stay on the lookout for any updates!</p>
  </aside>
</div>